<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body style="background-color: black;">
  
        <div class="top">
          
      <!--Starting page-->
        <div>
          <img src="https://static.wikia.nocookie.net/dynastytv/images/5/54/Netflix_logo.png">
          <span id="head">
            <a href="/" class="button b1">Sign In</a> 
            <a href="/" class="button b1">Home</a> 
            <a href="/trending" class="button b1">Trending</a>
            <a href="/subscription" class="button b1">Subscription</a>  
            <a href="/movies" class="button b1">Movies</a> 
          </span>
        </div>
      <div class="center"> 
        <p><span id="bigtext">See what's next.</span></p>
        <p>WATCH ANYWHERE. CANCEL ANYTIME.</p>
        
        <a href="/subscription" class="button b2">JOIN FREE FOR A MONTH</a>
      </div>
        </div>
        
        
        <!--Table begins here-->
        <!--First slide-->
        <table width=100% style:"background-color:black" border: 1px>
          <hr style="height:6px;background-color:#222222; border-width:0;">
          <tr>
          <td width="50%">
             <div class="center">
              <p><b><span id="bigtext">Enjoy on your TV.</span></b><br>
              <p style="font-size=50px;">Watch on your smart TV, Playstation, Xbox, Chromecast, Apple Tv, Blu-ray players and more.</p>
      </div>
          </td>
          <td width="50%">
            <center>
              <img src="https://netflix-images.manikantp.repl.co/Netflix1.gif" height="350px">
            </center>
          </td>
        </tr>
          
          
       <!--Second slide-->
           <tr>
             <td colspan="2">
             <hr style="height:6px;background-color:#222222; border-width:0;">
             </td>
          </tr>
          
          <tr>
          <td width="50%">
             <div class="center">
              <p><b><span id="bigtext">Download your shows to watch offline.</span></b><br>
              <p style="font-size:50px;">Save your favourites easily and always have something to watch.</p>
      </div>
          </td>
          <td width="50%">
            <center>
             <img src="https://netflix-images.manikantp.repl.co/Netflix3.gif" height="350px"/>
            </center>
          </td>
        </tr>
          </table>
      </body>
        
</html>