<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body style="background-color: black;">
  
       <div class="top">
          <div>
            <img src="https://static.wikia.nocookie.net/dynastytv/images/5/54/Netflix_logo.png">
            <span id="head">
              <a href="/" class="button b1">Sign In</a> 
              <a href="/" class="button b1">Home</a> 
              <a href="/trending" class="button b1">Trending</a>
              <a href="/subscription" class="button b1">Subscription</a>  
            </span>
          </div>
        </div>

        <center><h1 class="heading">MOVIES-2022</h1></center>
		
		<div class="row products">
		  <div class="col-sm-3">
			<div class="card mb-2">
			  <center><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a58a7719-0dcf-4e0b-b7bb-d2b725dbbb8e/ddzg1vb-1ad963a3-6c30-44c3-9b93-fbc128813b90.jpg/v1/fill/w_710,h_1125,q_70,strp/jurassic_world_dominion_poster__by_andrew_vm__by_andrewvm_ddzg1vb-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNjc3IiwicGF0aCI6IlwvZlwvYTU4YTc3MTktMGRjZi00ZTBiLWI3YmItZDJiNzI1ZGJiYjhlXC9kZHpnMXZiLTFhZDk2M2EzLTZjMzAtNDRjMy05YjkzLWZiYzEyODgxM2I5MC5qcGciLCJ3aWR0aCI6Ijw9MTA1OSJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2Q8yBG3cFLj4cvbXtA-mKnf_5b7kwJHriGoYnq4MtWo" class="card-img-top" alt="..."></center>
			  <div class="card-body">
				<b><p class="card-text"><href>Jurrasic World Dominion</href></p></b>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-3">
			<div class="card mb-2">
			  <center><img class="red" src="https://www.talkingwithtami.com/wp-content/uploads/2021/07/Turning_Red_Teaser_Poster_v13b_Fin21_Mech18_3K-scaled.jpg" class="card-img-top" alt="..."></center>
			  <div class="card-body-m">
				<b><p class="card-text-m"><href>Turning Red</href></p></b>
			  </div>
			</div>
		  </div>

      
		  <div class="col-sm-3">
			<div class="card mb-2">
			  <center><img src="https://www.movieposters4u.com/images/m/MinionsRiseofGruINTLAdv.jpg" class="card-img-top" alt="..."></center>
			  <div class="card-body">
				<b><p class="card-text"><href>Minions: The Rise of Gru</href></p></b>
			  </div>
			</div>
		  </div>

      
      <div class="col-sm-3">
			<div class="card mb-2">
			  <center><img src="https://img.reelgood.com/content/movie/6a229a72-2d58-4263-b125-33f9d70c4a14/poster-780.jpg" class="card-img-top" alt="..."></center>
			  <div class="card-body">
				<b><p class="card-text"><href>Uncharted</href></p></b>
			  </div>
			</div>
		  </div>

    </body>
</html>