<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body style="background-color: black;">
  
       <div class="top">
          <div>
            <img src="https://static.wikia.nocookie.net/dynastytv/images/5/54/Netflix_logo.png">
            <span id="head">
              <a href="/" class="button b1">Sign In</a> 
              <a href="/" class="button b1">Home</a> 
              <a href="/trending" class="button b1">Trending</a>
              <a href="/subscription" class="button b1">Subscription</a>  
            </span>
          </div>
        </div>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        input{
            padding: 20px 30px;
            font-size: 20px;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 0px 20px gray;
        }
        textarea{
            border-radius: 20px;
        }
        label{
            font-size: 25px;
        }
        body{
            text-align: center;
        }
    </style>

    <form method="POST" action="/subscription">
        
        <input type="text" placeholder="enter your username" name="name">
        <br>
        <br>
        
        <input type="password" placeholder="enter your Password" name="password">
        <br><br>
        
        <input type="number" placeholder="enter your contact" name="contact">
        <br><br>
        
        <input type="mail" placeholder="enter your Email" name="Email">
        <br><br>
        
        <textarea placeholder="enter your Email" name="Message"></textarea>
        <br><br>
        <input type="submit">
    </form>

    </body>
</html>